body{
    background: #0A0A0A;
}

.text-area {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-family: 'Concert One', cursive;
    font-weight: 900;
    font-size: 9em;
    animation-name: animate;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;            
    padding:40px;
    line-height:1;
    text-transform:uppercase;
 }
 .cl{
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;
    flex-direction: column;
    color: rgb(0, 2, 4);
    font-size: 4em;
    animation-name: anim;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;            
  

 }
@keyframes animate {
    0%,100%{ text-shadow:0 0 30px rgb(29, 239, 243); }
    25%{ text-shadow:0 0 30px rgb(151, 3, 31); }
    50%{ text-shadow:0 0 30px rgb(40, 178, 27); }
    75%{ text-shadow:0 0 30px rgb(160, 214, 33); }
 }

 @keyframes anim {
    0%,100%{ text-shadow:0 0 10px rgb(29, 239, 243); }
    25%{ text-shadow:0 0 10px rgb(190, 118, 131); }
    50%{ text-shadow:0 0 10px rgb(174, 198, 174); }
    75%{ text-shadow:0 0 10px rgb(165, 182, 127); }
 }
